* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Consolas;
}

.main-headline {
    text-align: center;
    color: white;
    margin-bottom: 3rem;
}

.puck-bg {
    background-color: #363057;

}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50vw;
    font-size:1rem;

}

.players {
    padding: 10px;
    background-color: #ffac6b;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 8px rgba(26, 9, 44, 0.78);

}

.add-player-headline{
    margin-top:2rem;
    text-align: center;
}

.player-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:2rem;
}

.mb-3{
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.input-group-text{
    justify-content: center;
}

